{% if DEFAULT_PAGINATION %}
	{% include 'pagination.html' %}
	{% for article in articles_page.object_list %}
	<article itemscope itemtype="http://schema.org/Article"> 
		<header class="article">
			<h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}"><span  itemprop="name">{{ article.title }}</span></a></h1>
			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
				<h3><a href="{{ SITEURL }}/{{ article.author.url }}" rel="author"><span itemprop="name">{{ article.author }}</span></a></h3>
			</span>
		</header>
		<div  itemprop="articleBody" class="article-content">
			{{ article.summary }}
		</div>
		<nav>
		{% for tag in article.tags %}
			{% if loop.last %}
				<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag" title="Articles relating to {{ tag }}">{{ tag }}</a>
			{% else %}
				<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag" title="Articles relating to {{ tag }}">{{ tag }}</a>,&nbsp
			{% endif %}
			
		{% endfor %}
		</nav>
	</article>	
{% endfor %}
{% include 'pagination.html' %}
{% else %}
	{% for article in articles %}
		<article itemscope itemtype="http://schema.org/Article"> 
			<header class="article">
				<h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}"><span  itemprop="name">{{ article.title }}</span></a></h1>
				<span itemprop="author" itemscope itemtype="http://schema.org/Person">
					<h3><a href="{{ SITEURL }}/{{ article.author.url }}" rel="author"><span itemprop="name">{{ article.author }}</span></a></h3>
				</span>
			</header>
			<div  itemprop="articleBody" class="article-content">
				{{ article.summary }}
			</div>
			<nav>
			{% for tag in article.tags %}
				{% if loop.last %}
					<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag" title="Articles relating to {{ tag }}">{{ tag }}</a>
				{% else %}
					<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag" title="Articles relating to {{ tag }}">{{ tag }}</a>,&nbsp
				{% endif %}
				
			{% endfor %}
			</nav>
		</article>	
	{% endfor %}
{% endif %}	